{% extends "dashboard.html.twig" %}
{% block desk %}Ajout/modification d'un utilisateur{% endblock %}
{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{% block body %}

{%for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">{{ flashMessage}}</div>
{% endfor %}

{%for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">{{ flashMessage}}</div>
{% endfor %}

{{ form_start(formP) }}
<div class="row w-50 p-4">
<div class="col h3" style="opacity: .9">{{ form_row(formP.Firstname) }}</div>
<div class="col h3" style="opacity: .9">{{ form_row(formP.Name) }}</div>
<div class="col h3" style="opacity: .9">{{ form_row(formP.image) }}</div>
</div>
<div class="row w-50 h3 p-4" style="opacity: .9">{{ form_rest(formP) }}</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}
