{% extends "dashboard.html.twig" %}
{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{% block body %}

{%for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">{{ flashMessage}}</div>
{% endfor %}

{%for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">{{ flashMessage}}</div>
{% endfor %}

{{ form_start(formP) }}
<div class="row">
<div class="col">{{ form_row(formP.Firstname) }}</div>
<div class="col">{{ form_row(formP.Name) }}</div>
<div class="col">{{ form_row(formP.image) }}</div>
</div>
{{ form_rest(formP) }}

{% endblock %}
